#*#
*.BIN
*.a
*.bak
*.bin
*.cache/
*.d
*.db
*.exe
*.lib
*.o
*.obj
*.orig
*.pro.user
*.rej
*.so
*.sqlite
*~
.DS_Store
.directory
.qmake.stash
.qtcreator/
.~*#
/*.log
/*.pro.user
/Debug/
/Release/
/debug/
/deploy/
/release/

# Android / Gradle
/android/.gradle/
/android/.idea/
/android/.kotlin/
/android/build/
/android/**/build/
/android/captures/
/android/*.log
/android/local.properties
/android/keystore.properties
/android/**/*.jks
/android/**/*.keystore
/android/**/*.p12
/android/**/*.pfx
/android/**/*.pkcs12
